@media screen and (max-width: 1020px) {

    footer {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        font-size: 2.8vw;
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .footer-data {
        line-height: 2.3vh;
    }

    .footer-title {
        margin-bottom: 10px;
    }

    .footer-margin {
        margin-top: 10px;
    }

}
